plaster_pastedeploy==1.0.1
pyramid==2.0.2
pyramid_mako==1.1.0
pyramid_debugtoolbar==4.12.1
waitress==3.0.2
alembic==1.16.1
pyramid_retry==2.1.1
pyramid_tm==2.6
SQLAlchemy==2.0.41
transaction==5.0
zope.sqlalchemy==3.1
pytest==8.4.0
webtest==3.0.4
bcrypt
arrow
sqlalchemy-utils
psycopg2